fastapi[all]>=0.115
uvicorn[standard]
sqlmodel
alembic
asyncpg
psycopg2-binary
python-dotenv
httpx
python-multipart
aiofiles
pytest
pydantic[all]>=2
python-jose
passlib[bcrypt]
pytest-asyncio
aiosqlite
bcrypt
aiosmtplib
email-validator
