fastapi[all]
uvicorn[standard]
sqlmodel
alembic
asyncpg
psycopg2-binary
python-dotenv
httpx
python-multipart
aiofiles
pytest
pydantic[all]
python-jose
passlib[bcrypt]
pytest-asyncio
aiosqlite
bcrypt
aiosmtplib
email-validator
